.App {
  background-color: var(--color-bg);
  min-height: 100vh;
}

.App-header {
  background: url(./assets/bg-header-mobile.svg);
  height: 156px;
  width: 100%;
  background-color: var(--color-primary);
}

.Content {
  padding: 60px 20px 40px;
}

.Filter-card + .List {
  transform: translateY(-40px);
}

.List > *:nth-child(n + 2) {
  margin-top: 60px;
}
