.App {
  background-color: var(--color-bg);
  min-height: 100vh;
}

.App-header {
  background: url(./assets/bg-header-mobile.svg);
  height: 156px;
  width: 100%;
  background-color: var(--color-primary);
}
