.Filter-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: var(--card-border-radius);
  padding: 20px 20px 0;
  transform: translateY(-100px);
  box-shadow: 0px 10px 10px hsla(180, 29%, 50%, 0.2);
}

.Filter-clear-btn {
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  border: none;
  color: var(--color-dark-cyan);
  margin-bottom: 20px;
  padding: 10px;
}
.Filter-clear-btn:hover {
  color: var(--color-primary);
  text-decoration: underline;
  cursor: pointer;
}

.Filter-container {
  display: flex;
  flex-wrap: wrap;
}
.Filter-container > * {
  margin-right: 20px;
  margin-bottom: 20px;
}

.Filter-item {
  border-radius: var(--card-border-radius);
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-weight: 700;
  font-size: 0.85rem;
  overflow: hidden;
}
.Filter-item .-label {
  padding: 10px;
}
.Filter-item .-btn {
  border: 0;
  padding: 10px;
  background-color: var(--color-primary);
  cursor: pointer;
}
.Filter-item .-btn:hover {
  background-color: var(--color-very-dark-cyan);
}
