.Job-card {
  padding: 52px 20px 10px;
  background-color: #fff;
  border-radius: var(--card-border-radius);
  position: relative;
  box-shadow: 0px 10px 10px hsla(180, 29%, 50%, 0.2);
}
.Job-card.--featured {
  border-left: var(--card-border-radius) solid var(--color-primary);
}
.Job-card > *:nth-child(n + 3) {
  margin-top: 10px;
}

.Job-logo {
  position: absolute;
  top: -32px;
  left: 20px;
  width: 64px;
  height: 64px;
}

.Job-highlight-container {
  display: flex;
  align-items: baseline;
}

.Job-highlight-container > *:nth-child(n + 2) {
  margin-left: 10px;
}

.Job-company {
  color: var(--color-primary);
  font-size: 0.75rem;
  font-weight: 700;
}

.Job-label {
  text-transform: uppercase;
  padding: 7.5px 10px 5px;
  border-radius: 1000px;
  font-size: 0.75rem;
  font-weight: 700;
}
.Job-label.--new {
  color: #fff;
  background-color: var(--color-primary);
}
.Job-label.--featured {
  color: #fff;
  background-color: var(--color-very-dark-cyan);
}

.Job-position {
  font-weight: 700;
  color: var(--color-very-dark-cyan);
}

.Job-context-container {
  font-weight: 500;
  font-size: 0.75rem;
  color: var(--color-dark-cyan);
  text-decoration: bull;
}
.Job-context-container > *:nth-child(n + 2)::before {
  content: '\2022';
  margin: 0 10px;
  font-size: 1rem;
  color: var(--color-dark-cyan);
}

.Job-divider {
  border-color: var(--color-bg);
  margin: 20px 0 !important;
}

.Job-language-container {
  display: flex;
  flex-wrap: wrap;
}
.Job-language-container > * {
  margin-right: 20px;
  margin-bottom: 20px;
}

.Job-language-item {
  padding: 7.5px 10px 5px;
  border-radius: var(--card-border-radius);
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-weight: 700;
  font-size: 0.85rem;
}
